name: "Publish"

on:
  push:
    tags:
      - "[0-9]+.[0-9]+.[0-9]+"
      - "[0-9]+.[0-9]+.[0-9]+-*"
  workflow_dispatch:

env:
  DEVCONTAINER_IMAGE: ghcr.io/${{ github.repository_owner }}/open-in-devcontainer/devcontainer
  CR_REGISTRY: ghcr.io
  CR_IMAGE_NAME: ${{ github.repository_owner }}/open-in-devcontainer
  CR_VERSION: ${{ github.ref_name }}
  AUTHORS: ${{ github.repository_owner }}

jobs:
  pack-common:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Pack common
        uses: devcontainers/ci@v0.3
        with:
          imageName: ${{ env.DEVCONTAINER_IMAGE }}
          cacheFrom: ${{ env.DEVCONTAINER_IMAGE }}
          push: never
          runCmd: pnpm run pack
          env: |
            AUTHORS

      - name: Upload common packages
        uses: actions/upload-artifact@v6
        with:
          name: packages-common
          path: .local/Packages/*.nupkg

  pack-rid:
    strategy:
      matrix:
        include:
          - runner: ubuntu-latest
            rid: linux-x64
          - runner: ubuntu-24.04-arm
            rid: linux-arm64
          - runner: macos-15-intel
            rid: osx-x64
          - runner: macos-latest
            rid: osx-arm64
          - runner: windows-latest
            rid: win-x64
          - runner: windows-11-arm
            rid: win-arm64
    runs-on: ${{ matrix.runner }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10

      - name: Pack RID
        run: dotnet run --project Automation --target PackRid

      - name: Upload RID packages
        uses: actions/upload-artifact@v6
        with:
          name: packages-rid-${{ matrix.rid }}
          path: .local/Packages/*.nupkg

      - name: Upload RID binaries
        uses: actions/upload-artifact@v6
        with:
          name: binaries-rid-${{ matrix.rid }}
          path: .local/bin/docker/

  publish:
    needs: [pack-common, pack-rid]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Download all packages
        uses: actions/download-artifact@v7
        with:
          path: .local/Packages
          pattern: packages-*
          merge-multiple: true

      - name: Download all binaries
        uses: actions/download-artifact@v7
        with:
          path: .local/bin/docker
          pattern: binaries-*
          merge-multiple: true

      - name: Push packages and images
        uses: devcontainers/ci@v0.3
        env:
          # NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}
          CR_PAT: ${{ secrets.CR_PAT }}
        with:
          cacheFrom: ${{ env.DEVCONTAINER_IMAGE }}
          runCmd: |
            pnpm run publish 
            pnpm run publish-docker
          env: |
            NUGET_API_KEY
            CR_REGISTRY
            CR_IMAGE_NAME
            CR_VERSION
            CR_PAT
